
#intro-info{
    display: flex;
}
#intro-info-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 60%;
}
#intro-info-saluto{
    margin-left: 10px;
}
#intro-cit{
    margin-top:20px;
}
#user-quote{
    text-align: justify;
}
#keywoeds{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.keyword{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 20px 0px;
    background-color: #F6F5FA;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    transition: all 0.3s ease-in-out; 
}
.info-keyword {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.windows-keyword {
    background: #F6F5FA;
    border: 1px solid #EFEEF2;
    border-radius: 25px;
    padding: 30px;
    max-width: 500px;
    width: 80%;
    box-sizing: border-box;
}
.keyword-title{
    margin-bottom: 10px;
}
.keyword-info{
    text-align: justify;
}