#navbar{
  display: flex;
  flex-direction: row;
  background-color: #F6F5FA;
  border: 1px solid #EFEEF2;
  border-radius: 50px;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  bottom: 30px;
  left: 10px;
  right: 10px;
  z-index: 200;
}
.navbar-icon{
  display: flex;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out; 
  margin: 5px;
}

.icon{
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out; 
}

#addTask{
  background-color: #f7a233;
  border: 1px solid rgba(0, 0, 0, 0.062);
  scale: 1.2;
}