#filter {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}

.filter-card {
  height: 50px;
  padding: 13px;
  text-align: center;
  border-radius: 50px;
  background-color: #F6F5FA;
}
